name: test

on:
  push:
    branches:
    - master
    - develop
  pull_request:

jobs:
  check:
    strategy:
      fail-fast: true

    name: Foundry project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Vyper
        run: pip install vyper==0.3.7

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: v1.3.5

      - name: Run Forge build
        run: |
          unset FOUNDRY_CONFIG
          unset FOUNDRY_PROFILE
          forge --version
          forge build --sizes
        id: build

      - name: Run Forge tests
        run: |
          unset FOUNDRY_CONFIG
          unset FOUNDRY_PROFILE
          forge test -vvv --fork-url ${{ secrets.ETH_RPC_URL }} --etherscan-api-key  ${{ secrets.ETHERSCAN_API_KEY }} --ffi
        id: test
